@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.app {
  width: 1340px;
  height: 1000px;
  /* border: 1px solid red; */
}